<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/registrationCSS/registrationPage.css">
        <link href="//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light" rel="stylesheet" type="text/css"/>
        <title>Registration page</title>
    </head>

    <body>

        <div class="body-content">

            <div class="module">

                <h1>Create an account</h1>

                <form class="form" action="/registration_page/saveRegistration" method="post" enctype="multipart/form-data">

                    <div class="alert alert-error"></div>
                    <input type="text" placeholder="User Name" name="username" required />
                    <input type="email" placeholder="Email" name="email" required />
                    <input type="password" placeholder="Password" name="password" autocomplete="new-password" required />
                    <input type="password" placeholder="Confirm Password" name="confirm_password" autocomplete="new-password" required />
<!--                    <div class="avatar"><label>Select your avatar: </label><input type="file" name="avatar" accept="image/*" required /></div>-->
                    <input type="submit" value="Register" name="register" class="btn btn-block btn-primary" />

                    <div class="go_to_link">
                        <a th:href="@{/registration_page/goToHome}">Go to back</a>
                        <a th:href="@{/registration_page/goToSign}">Sign in</a>
                    </div>

                </form>

            </div>

        </div>

    </body>
</html>