<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/loginPage.css">
        <title>Login and Password page</title>
    </head>

    <body>

        <div class="login-tag">
            <form name='form-login' action="/saveLogin/saveToBaseFromLogin" method="post" enctype="multipart/form-data">
                <span class="fontawesome-user"></span>
                <input type="text" placeholder="logins" name="logins">

                <span class="fontawesome-lock"></span>
                <input type="password" placeholder="parol" name="parol">

                <input type="submit" value="Login">

            </form>

            <div class="sublink">
                <a th:href="@{/saveLogin/toHomePage}">Go back</a>
                <a th:href="@{/saveLogin/goToSignUp}">Sign Up</a>
            </div>

        </div>

    </body>
</html>