<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/homePage.css">
        <title>Home Page</title>
    </head>

    <body>

        <form action="/sign_in" method="get">
            <button class="cybr-btn">
                Sign in<span aria-hidden></span>
                <span aria-hidden class="cybr-btn__glitch">Sign in</span>
                <span aria-hidden class="cybr-btn__tag">Java</span>
            </button>
        </form>

    <form>
        <button class="cybr-btn">
            Sign Up<span aria-hidden></span>
            <span aria-hidden class="cybr-btn__glitch">Sign Up</span>
            <span aria-hidden class="cybr-btn__tag">Java</span>
        </button>
    </form>

    </body>
</html>